*{
    margin: 0px;
    padding: 0px;
}
.signup-container {
    width: 50%;
    max-width: 400px;
    margin: 40px auto 40px; /* Added margin-top to create space from navbar */
    padding: 2rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signup-container h2 {
    color: #042B4C;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.signup-container input {
    width: 349px;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

.login-text {
    margin-top: 1rem;
    color: #042B4C;
}

.login-text a {
    color: #042B4C;
    text-decoration: none;
    font-weight: bold;
}

.signup-illustration {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-illustration img {
    max-width: 100%;
    height: auto;
}

.login-btn {
    width: 30%;
    max-width: 200px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #042B4C;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.login-btn:hover {
    background-color: white;
    color: #042B4C;
    border: 2px solid #042B4C;
}

.login-btn:active {
    transform: scale(0.98);
}

.error-message {
    color: red;
    font-size: 16px;
    margin-bottom: 15px;
}
.input-field {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    background-color: #f8f8f8;
}

.signup-btn {
    width: 100%;
    background-color: #042B4C;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

.signup-btn:hover {
    background-color: white;
    color: #042B4C;
    border: 2px solid #042B4C;
}
